/* 
Основной цвет текста   #212121; - Заголовки черн
Вторичный цвет текста  #FFFFFF; - Заголовки бел
Цвет текста Параграфы  #757575;

Акцкет 1 ------------- #2196F3; - Синий для кнопок и навигации */


 /* 
 Основной цвет фона  #E5E5E5; - 
 Вторичный цвет фона #2F303A; - Герой и Футер
 Фон хедера          #FFFFFF;

 */
:root {
    --primary-title-color:#212121;
    --secondary-title-color:#FFFFFF;
    --text-color:#757575;
    --accent-color:#2196F3;
    --logo-color:#ffffff;

    --primary-background-color:#E5E5E5;
    --secondary-background-color:#2F303A;
    --header-background-clor:#FFFFFF;  
    --button-background-clor:#F5F4FA;

}


body {
    background-color: var(--primary-background-color);
}

header {
    background-color: var(--header-background-clor);
}

footer {
    background-color: var(--secondary-background-color);
}

.hero {
    background-color: var(--secondary-background-color);
}

.competence,
.our-work {
    background-attachment: var(--primary-background-color);
}

.our-team {
    background-color: var(--button-background-clor);
}

.button {
    background-color: var(--accent-color);
}

.button-filter {
    background-color: var(--button-background-clor);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
}

.hero-text,
.main-button {
    color: var(--secondary-title-color);
}

.header-studio {
    color: var(--primary-title-color);

}

.footer-studio {
    color: var(--logo-color);
}
.footer-logo,
.header-logo {
    color: var(--accent-color);
    text-decoration: none;
}

.list {
    color: var(--primary-title-color);
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-list,
.contact-list {
    color: var(--primary-title-color);
}

.list .active-page {
    color: var(--accent-color);
}

.header-link {
    color: var(--text-color);
}

.header-link:hover {
    color: var(--accent-color);
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);;
}

.footer-link:hover{
    color: var(--accent-color);
}

.text {
    color: var(--text-color);
}

/* Цвет отличается от почты и телефона плюс шрифт италик. 
Не знаю как сделать */
address {
    color: var(--text-color);
}


/* Цвет сделал такой, чтобы было видно реакцию */
.nav .link:hover, 
.nav .link:focus {
    color: #8bf75a;
}